@media (max-width: 950px) {
    #sidebar {
        height: unset;
        position: absolute;
        top: -25px;
        padding: 0.5em 2.5em 0.5em 2.5em;
    }

    #sidebar nav > ul > li
    {
        margin: 1.5em 2em 0 0;
    }

    #logo {
        width: unset;

        max-height: 55px;

        position: absolute;
        left: -100px;
        top: 20px;
    }

    .floating-section > section > a {
        border-radius: 30px 30px 1px 1px;
    }

    iframe {
        width: 400px;
        height: 300px;
    }

    #carousel-section {
        height: 300px;
    }

    #carousel-container {
        height: 300px;
    }

    #videos-inner-container > * {
        padding: 10px;
    }

    #videos-inner-container
    {
        flex-direction: column;
    }

    #two > section > a {
        flex-direction: row-reverse;
        border-radius: 30px 30px 1px 1px;
    }

    .media-logo-filler {
        flex-grow: 0;

    }

    #image-internationaux {
        background: url('images/Internationaux4.jpg') no-repeat center center;
        background-size: contain;
    }


}