
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#intro {
    background: transparent;
    /*
    background: transparent url(images/arrow.png) no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 5%;
    */
    opacity: 0;
    webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#intro h1 {
	text-align: center;
	font-size: 3.5em;
}

#logo {
    width: 90%;
    transform: translate(-0%,0);
}

#sidebar {

	background: rgb(179,187,205);
	background: linear-gradient(270deg, rgba(204, 203, 198, 1) 0%, rgba(124,189,238,1) 100%);
	color: rgba(247, 255, 0, 0.64);
    height: 100vh;
    overflow: hidden;
    padding: 0.5em 2.5em 100em 2.5em;
}
#sidebar nav > ul > li
{
    margin: 2.5vh 0 0 0;
}




.image
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#texte-wei
{
    text-align: justify;
    color: white;
    background: rgba(234, 154, 84, 0.8); /*rgba(0,0,0,0.3)*/
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	padding: 1em 3em 1em 3em;
}

.more
{
    max-height: 10rem;
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;

    text-align: justify;
    color: whitesmoke;
}
.longText
{
    max-height: 10000px;
    transition: max-height 2s ease-in-out;

}
a.hiddenLink
{
    opacity:0;
    transition: opacity 2s ease-in-out;

}

#sidebar > div > nav > ul > li > a
{
    color: rgb(100,100,100);
}
#sidebar > div > nav > ul > li > a.active
{
    color: black;
}

#sidebar > div > nav > ul > li > a:hover
{
    color: black;
}


/*
Pour changer les couleurs des lignes sur la sidebar

#sidebar nav a:after
{
    background-image: linear-gradient(to right, #5e42a6, #0446d5);
}

#sidebar nav a:before {
    background: #1378a7;
}
 */

.welcome-text
{
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px white;
    /* text-shadow: 5px 5px skyblue; */

    /*
    position: absolute;
    top: 150px;
    left:50%;
    transform: translate(-50%, 0%);
    width: 100%;
      */
}

input[type="checkbox"] + label
{
    color: white;
}

.spotlights > section > .image:before {
    /* retire l'effet d'apparition violet dégueu */
    -moz-transition: unset;
    -webkit-transition: unset;
    -ms-transition: unset;
    transition: unset;
    background: unset;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.floating-section {
    background: transparent;
}

.floating-section > section {
    background-color: rgba(124,189,238,1);
    width: 90%;
    position: relative;
    left: 5%;

    border-radius: 30px;
    margin-bottom: 20px;
}
.floating-section > section > a
{
     background-position: center center;
     background-size: cover;
     display: block;
     position: relative;
     width: 25em;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

body
{
    background-color: transparent;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}





.extra-padding
{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#footer > div > ul > li
{
    color: black;
}


#videos-container
{
background: transparent;
}


#videos-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#videos-inner-container > * {
    padding: 40px;
}

iframe {
    width: 800px;
    height: 450px;
}

.features {
    flex-direction: column;
}

.features section {
    border: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


#two > section {
    flex-direction: row-reverse;
}

#two > section > a {
    flex-direction: row-reverse;
    border-radius: 1px 30px 30px 1px;
}

#image-internationaux {
    width: 100%;
    height: 403px;
    background: url('images/Internationaux2.jpg') no-repeat center top 0px;
    background-size: contain;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#logo-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    width: 100%;
}


.media-logo {
    background-size: contain;
    flex-grow: 1;

    margin-left: 10px;
    margin-right: 10px;

}

.media-logo-filler {
    flex-grow: 3;

}

.media-logo:nth-child(2) {
    background: url('images/facebook.png') no-repeat center center;
    background-size: contain;
    height: 70px;
    margin-top: 25px;

}

.media-logo:nth-child(3) {
    background: url('images/instagram.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.media-logo:nth-child(4) {
    background: url('images/linkedin.png') no-repeat center center;
    background-size: contain;
    height: 70px;
    margin-top: 25px;
}