<h2>What to bring?</h2>
<div class="more">
	4 days together will be long and intense, so don't forget anything!<br>
	To help you, we've made a list of must-have items for the WEI:
	<br/>
	<ul id="liste-magique">
		<li>A deposit cheque of 150 € made out to BDE Télécom Par</li>
		<li>A sleeping bag</li>
		<li>Sunscreen</li>
		<li>Sports shoes and socks</li>
		<li>Your best flip-flops/sneakers</li>
		<li>Sports gear for 2 days (that you are not afraid to get dirty)</li>
		<li>Spare parts (we don't know what can happen)</li>
		<li>Normal shoes (but ready to get dirty)</li>
		<li>A toothbrush and toothpaste</li>
		<li>Underwear for 4 days</li>
		<li>Clothes for 4 days for the evenings</li>
		<li>Sunglasses if you have them</li>
		<li>Swimsuits</li>
		<li>The head covering of your choice</li>
		<li>Soap and shampoo</li>
		<li>Towel and shower towel</li>
		<li>Your "dia de los muertos" themed disguise and a "duo" disguise with your wei buddy that will be assigned to you after you answer the mentoring form</li>
		<li>One or more sweaters/coats/jackets for cold evenings</li>
		<li>A kway in case of rain</li>
		<li>Your phone and the charger that goes with it </li>
		<li>Your good mood</li>
	</ul>

	Try not to take anything of value with you, to avoid losing it in any way.
	It is possible that we do not have Wifi during the WEI.
	<br/><br/>
	<i>This checklist is saved in your cookies, you can use this to make sure you didn't forget anything.</i>
</div>