<div class="more longText">
<p>
	You have a question about WEI 2022? Don't hesitate, that's why we are here! 
	<br>
	You can ask us questions:
</p>
<ul>
	<li>On the Facebook group <a class="button"
								  href="https://www.facebook.com/groups/440055434641417">Admis
		Télécom 2022</a> if you think it may be of interest to others.
	</li>
	<li>Send us an email <a href="mailto:wei.2022.telecom@gmail.com">wei.2022.telecom@gmail.com</a></li>
	<li>Contact directly one of your WEI respo</li>
</ul>


<p>
	But the BDE is above all a team of 26 people, discover all its members:
</p>
</div>