<h2>The WEI in short</h2>
<div class="more longText">
	<p>
To get to know each other, we invite you to the WEI of Télécom Paris which will take place over the last 4 days of August: <strong>from 27/08 to 31/08</strong>. The objective of the WEI is to integrate you better into the school's associative life, to make you discover the different associations through numerous activities over several days, to meet everyone between 2A and the class of 2025, but also to have a great time all together in an exceptional setting.<br>
We will take care of everything on the campsite: eating, sleeping, parties and activities. Be prepared to be surprised because the program includes: all kinds of sports, sensational activities, themed evenings,... <br>
The mornings will be used to make you discover the telecom associations, either through a presentation or activities. The afternoons will be used to treat you with activities of all kinds! Without forgetting the evenings which promise to be unforgettable...<br>
	</p>
</div>
