<h3>Afternoon on the Patio - Friday, August 26 & September 2 - 2 to 6pm</h3>
<div class="more longText">
	<p>
		Activities will be offered to discover the school and other Telecom students. All in your new favorite place: the patio.
		<ul>
			<li>Spike initiation and competition</li>
			<li>Tasting of fruit juice and granitas</li>
			<li>Board games proposed by the Ludotech</li>
		</ul>
	</p>
</div>