<h3>Pre-Wei Binouze - Friday August 26th - 9pm to 3am</h3>
<div class="more">
	<p>Before the famous and incredible WEI, the Bar'i'tech proposes you an evening for an integration before the hour where you will have the opportunity to discuss. 
		You will have the chance to discover the Bar'i'tech association 
	</p>
</div>


