<h2>Decency</h2>
<div class="more">
	<p>
		You'll soon realize that Telecom is a family, and it's important to live well together. 
		We will not tolerate any behavior that would hurt others morally or physically.
	</p>
	<p>
		Hazing is simply forbidden, and it is totally contrary to our beliefs. 
		The goal of this WEI is that you integrate well, feel good and have an unforgettable time. 
		We will really make sure of that. 
		So if at any time you feel obliged or uncomfortable, the members of the BDE and more precisely the REC pole (respect listening and consent) will always be there to listen.
	</p>
</div>