<h2>Journey</h2>
<div class="more longText">
	<p>
		The meeting point to start this WEI will be the train station of Saint-Hilaire-de-Riez <strong>between 14:30 and 16:30</strong>, so get your train ticket now.
	</p>
	<p>
		If you have any problems with the tickets, please contact us! We are putting everything in place so that you can come: 
		a luggage locker in Télécom, a system of accommodation before the WEI for one night/two nights if there are no other possible solutions, 
		grouped departures in some big train stations (Paris Montparnasse, Massy, Lille, Nantes,..)
	</p>
	<p>
		The return trip will be by bus to Telecom, so don't take a return ticket!
	</p>
</div>