<h2>Qu'apporter ?</h2>
<div class="more">
	4 jours ensemble, ce sera long et intense, alors n’oublie rien !<br>
	Pour t’aider, on t'a fait une liste des trucs à absolument avoir pour le WEI :
	<br/>
	<ul id="liste-magique">
		<li>Le chèque de caution de 150 € à l'ordre de BDE Télécom Paris</li>
		<li>Un sac de couchage</li>
		<li>De la crème solaire</li>
		<li>Des chaussures de sports et des chaussettes</li>
		<li>Tes plus belles tongs/claquettes</li>
		<li>Des affaires de sport pour 2 jours (que vous n’avez pas peur de salir)
		</li>
		<li>Des rechanges malgré tout (on ne sait pas ce qu’il peut se passer)</li>
		<li>Des chaussures normales (mais prêtes à être salies)</li>
		<li>Une brosse à dent et dentifrice</li>
		<li>Des sous vêtements pour 4 jours</li>
		<li>Des vêtements pour 4 jours pour les soirées</li>
		<li>Des lunettes de soleil si vous en avez</li>
		<li>Des maillots de bain</li>
		<li>Le couvre chef de ton choix</li>
		<li>Savon et shampoing</li>
		<li>Serviette de bain et serviette de douche</li>
		<li>Votre déguisements sur le thème « dia de los muertos » et un déguisement « duo » avec votre binôme wei qui vous sera assigné après avoir répondu au form de parrainage</li>
		<li>Un ou plusieurs pull/manteau/veste pour les soirées un peu froide</li>
		<li>Un kway en cas de pluie</li>
		<li>Ton téléphone et le chargeur qui va avec</li>
		<li>Ta bonne humeur surtout</li>
	</ul>

	Essaie de ne prendre aucun objet de valeur avec toi, pour éviter de le perdre
	d’une quelconque façon.
	Il est possible que nous n'ayons pas de Wi-Fi pendant le WEI.
	<br/><br/>
	<i>Cette liste est enregistré dans tes Cookies, tu peux t'en servir pour faire
		l'inventaire de tes affaires !</i>
</div>