<div class="more longText">
<p>
	Tu as une question concernant le WEI 2022 ?
	N’hésite pas, nous sommes là pour ça !
	<br>
	Tu peux nous poser des questions :
</p>
<ul>
	<li>Sur le groupe Facebook <a class="button" href="https://www.facebook.com/groups/440055434641417">Admis
		Télécom 2022</a> si tu penses qu’elle peut
		intéresser d’autres personnes.
	</li>
	<li>Nous envoyer un mail <a href="mailto:wei.2022.telecom@gmail.com">wei.2022.telecom@gmail.com</a></li>
	<li>Contacter directement l’un de tes respo WEI</li>
</ul>


<p>
	Mais le BDE c’est avant tout une équipe de 26 personnes, découvre tous ses membres :
</p>
</div>