<p>
	<h1>Avant ton arrivée en France :</h1>
	<h2>Visa :</h2>
	<ul>
		<li>Contactez le bureau Campus France de ton pays (<a href="https://www.campusfrance.org/fr">https://www.campusfrance.org/fr</a>)</li>
		
		<br>
		<br>

		<li>Inscrivez-vous sur la plateforme <strong>« Etudes en France »</strong>
		(<a href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/public/authentification/login.html">https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/public/authentification/login.html</a>)
		si votre pays d’origine est un des 44 concernés par la procédure.
		Campus France vérifiera votre demande de visa avant de la soumettre au consulat Français.</li>
		
		<br>
		<br>
		<br>

		<li>Assurez-vous que votre passeport est valide jusqu’à la fin de votre séjour en France</li>
		<br>

		<li>Le <strong>VLS-TS</strong> est l’équivalent d’un permis de résider en France qui vous autorise à rester
			en France pour une année complète.<br>
			Dans les 3 mois suivant votre arrivée, il faut valider votre visa sur :<br>
			<a href="https://administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/">https://administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/P</a>
		</li>
	</ul>

	<h1>A ton arrivée en France</h1>

	<h2>Ouvrir un compte en banque Français</h2>
	Documents nécessaires :
	<ul>
		<li>Passeport</li>
		<li>Preuve d’hébergement en France</li>$
		<li>Carte étudiante ou certificat de scolarité pour profiter des offres réservées aux étudiants</li>
	</ul>
	La banque vous fournira un RIB contenant vos informations bancaires dont vous aurez besoin pour
	les autres procédures administratives.
	<br>
	<br>

	<h2>Valider votre visa VLS-TS</h2>
	Procédure à suivre sur:
	<br>
	<a href="https://administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/">https://administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/</a>
	<br>
	<strong>/!\ La procédure coûte 60€</strong>
	<br>
	A la fin de la procédure, vous recevrez un certificat de validation de votre visa VLS-TS
	(validation OFII).

	<h2>Assurance maladie</h2>
	Vous devez avoir une assurance maladie durant votre séjour en France.
	<br>
	<br>
	<h3>Etudiants européens</h3>

	Vous aurez besoin d’une Carte Européenne d’assurance maladie valable durant la totalité de votre
	séjour en France.
	<br>
	/!\ La carte ne couvre pas la totalité de vos dépenses de santé en France, vous devez avancer
	les frais puis demander un remboursement.
	<br>
	Une assurance maladie privée est recommandée pour une
	meilleure couverture.
	<br>
	<br>
	<h3>Etudiants hors UE</h3>
	Vous devez adhérer à la Sécurité Sociale (gratuit et obligatoire).
	<br>
	<a href="https://etudiant-etranger.ameli.fr/#/">https://etudiant-etranger.ameli.fr/#/</a>
	<br>
	Documents nécessaires :
	<ul>
		<li>Certificat de scolarité</li>
		<li>Passeport</li>
		<li>Certificat de naissance (traduit en Français par un traducteur agréé)</li>
		<li>La validation OFII de votre visa VLS-TS</li>
		<li>RIB</li>
	</ul>
	Quelques semaines après avoir complété la procédure, vous recevrez un certificat ainsi que votre
	carte vitale (carte de sécurité sociale).
	<br>
	Il est conseillé de déclarer un médecin traitant. Sinon, vous ne serez remboursé que de 30 % de
	vos consultations médicales (70 % si vous déclarez un médecin traitant).

	<h2>Mutuelle (complément d’assurance maladie) </h2>
	La sécurité sociale couvre partiellement vos dépenses de santé (entre 15 % et 80%) mais peut
	être complétée par une souscription à une mutuelle.
	<br>
	Pour les étudiants, LMDE (<a href="https://www.lmde.fr/">https://www.lmde.fr/</a>) ou HEYME (<a
		href="https://heyme.care/fr">https://heyme.care/fr</a>) proposent
	différentes offres entre 10€ et 50€ par mois.
	<br>
	Il est conseillé de prendre une souscription annuelle plutôt que mensuelle.
	<br>
	La souscription à une mutuelle n’est pas obligatoire mais est vivement recommandée.
	<h2>CAF</h2>
	Les étudiants internationaux sont éligibles à une aide au logement donnée par la CAF si vous
	vivez dans une résidence étudiante :
	<br>
	<a href="https://caf.fr/">https://caf.fr/</a>
	<h2>CVEC</h2>
	C’est une taxe obligatoire pour tous les étudiants en France, d’un montant de 95€, à payer sur :
	<br>
	<a href="https://cvec.etudiant.gouv.fr">https://cvec.etudiant.gouv.fr</a>
	<br>
	Après paiement, vous recevrez un certificat CVEC à transmettre à Télécom Paris lors de votre
	inscription.

	<h2>Transport</h2>
	Applications mobiles : RATP, vianavigo ou Citymapper pour rechercher les itinéraires et horaires
	des transports
	<br>
	Pour se déplacer régulièrement en région parisienne, il faut un « Pass Navigo », que vous pouvez
	acheter sur
	https://www.iledefrance-mobilites.fr/titres-et-tarifs/liste?d=forfaits
	<br>
	Pour rejoindre Télécom depuis l’aéroport Charles de Gaulle : Prendre le RER B direction
	Saint-Rémy-les-Chevreuses ou Massy-Palaiseau<br>
	→ option 1 : s’arrêter à Massy-Palaiseau puis prendre le bus 91.06 ou 91.10 jusqu’à l’arrêt «
	Ferme de la Vauve »<br>
	→ option 2 : s’arrêter à Lozère puis rejoindre Télécom Paris à pied (en suivant les panneaux «
	Ecole Polytechnique »). Attention, cette option implique de monter des escaliers, ce qui n’est
	pas pratique avec des bagages lourds !
	<br/><br/>
	Pour réserver vos billets de train, rendez-vous sur <a href="https://www.sncf-connect.com/en-en/">SNCF Connect</a>.

</p>