<h2>Le WEI en bref</h2>
<div class="more longText">
	<p>
Pour commencer à faire connaissance tous ensemble, nous te convions au WEI de Télécom Paris qui se déroulera sur les 4 derniers jours du mois d’août : <strong>du 27/08 ou 31/08</strong>. L’objectif du WEI est de mieux t’intégrer à la vie associative de l’école, te faire découvrir les différentes associations à travers de nombreuses activités sur plusieurs jours, de tous se rencontrer entre 2A et la promo 2025, mais aussi de passer un super moment tous ensemble dans un cadre exceptionnel.<br>
Nous nous occupons de tout sur le camping : le manger, le dodo, les soirées et les activités. Sois prêt(e) à être étonné(e) car au programme : du sport en tout genre, des activités sensationnelles, des soirées à thème,…<br>
Les matinées serviront à vous faire découvrir les associations télécommiennes, que ce soit à travers une présentation ou des activités. Les après-midis serviront à vous régaler avec des activités en tout genre ! Sans oublier les soirées qui promettent d'être inoubliables…<br>
	</p>
</div>
