<h3>Après-Midi Patio - Vendredi 26 août & 2 septembre  - 14h à 18h</h3>
<div class="more longText">
	<p>
		Des activités seront proposées pour découvrir l’école et les autres élèves de Télécom. Le tout dans ton nouvel endroit préféré : le patio.
		<ul>
			<li>Initiation et compétition de Spike</li>
			<li>Dégustation de jus de fruit et de granitas</li>
			<li>Jeux de société proposé par la Ludotech</li>
		</ul>
	</p>
</div>