<h3>Binouze Pré-Wei - Vendredi 26 août - 21h à 3h</h3>
<div class="more">
	<p>Avant le fameux et incroyable WEI, le Bar’i’tech te propose une soirée pour une intégration avant l’heure où tu auras l’occasion de discuter. 
		Vous aurez la chance de découvrir l’association Bar’i’tech
	</p>
</div>