<h2>Bienséance</h2>
<div class="more">
	<p>
Tu le comprendras très vite : Télécom est une famille, et c'est important de bien vivre ensemble.
Nous ne tolérerons aucun comportement qui blesserait autrui moralement et physiquement.
	</p>
	<p>
Le bizutage est tout simplement interdit, et c'est totalement à l'opposé de nos convictions. 
Le but de ce WEI est que tu t'intègres bien, que tu te sentes bien et que tu passes des moments inoubliables. 
Nous y veillerons réellement. 
Alors si à un moment tu te sens obligé ou mal à l'aise, les membres du BDE et plus précisément le pôle REC (respect écoute et consentement) seront toujours à l'écoute.
	</p>
</div>