<h2>Trajet</h2>
<div class="more longText">
	<p>
		Le point de rendez-vous pour commencer ce WEI sera la gare de Saint-Hilaire-de-Riez <strong>entre 14h30 et 16h30</strong>, alors prends ton billet de train dès maintenant.
	</p>
	<p>
		Si t’as des problèmes pour la prise des billets, contacte nous ! Nous mettons tout en place pour que tu puisses venir : 
		une consigne à bagages dans Télécom, un système d’hébergement avant le Wei pour une nuit/deux nuits s’il n’y a pas d’autres solutions possibles, 
		des départs groupés dans certaines grandes gares (Paris Montparnasse, Massy, Lille, Nantes,..)
	<p>
	<p>
		Le retour se fera en car à Télécom, donc ne prends pas de billet retour !
	</p>
</div>